---
let 
const {
  icon,
  class,
  text
} = Astro.props;
---
<div class="card">
  <span class="icon">
    <i class="fa-brands fa-discord"></i>
  </span>
  <span class="text">
    Join Server Discord
  </span>
  <span class="action">
    <i class="fa-solid fa-arrow-up-right-from-square"></i>
  </span>
</div>